<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array/>
	<key>developer</key>
	<string>Benedikt Bramböck</string>
	<key>developerURL</key>
	<string>http://arialcrime.com/</string>
	<key>html</key>
	<false/>
	<key>launchAtStartUp</key>
	<integer>1</integer>
	<key>mainScript</key>
	<string>EraserTool.py</string>
	<key>name</key>
	<string>EraserTool</string>
	<key>timeStamp</key>
	<real>1532784773.8710971</real>
	<key>version</key>
	<string>1.0</string>
</dict>
</plist>
